th{
    padding: 25px 50px;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }
  
  .modal.is-active {
    display: flex;
  }
  
  .modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .modal-content {
    z-index: 9999;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    /* width: 1000px;
    height: 600px; */
  }

  .modal-close {
    z-index: 9999;
    text-align: center;
  }

  #localVideo {
    width: 500px !important; /* Adjust to your layout */
    height: 500px !important; /* Maintain the aspect ratio */
  }